.wp-block-accordion-panel-accordion-panel{
	flex-grow: 0;
	display: flex;
	--transTime:0.5s;
	--transEase:cubic-bezier(.72,.72,.01,.99);
	transition:flex-grow var(--transTime) var(--transEase);
	position: relative;
	align-self: stretch;
}
.is-vertical>.wp-block-accordion-panel-accordion-panel{
	flex-direction: column;
}
.wp-block-accordion-panel-accordion-panel:is(
	.is-panel-open, .is-selected
){
	flex-grow: 1;
}

// Panel Before

.wp-block-accordion-panel-accordion-panel::before{
	content:'';
	position: absolute;
	inset: 0% 0% 0% 0%;
	background-color: #ffffff;
	animation-name: accordionBg-Out-hrz;
	animation-duration: var(--transTime);
	animation-timing-function: var(--transEase);
	animation-fill-mode: forwards;
	pointer-events: none !important;
}
.is-vertical>.wp-block-accordion-panel-accordion-panel::before{
	animation-name: accordionBg-Out-vrt;
}

.wp-block-accordion-panel-accordion-panel:not(.is-panel-open, .is-selected):hover::before,
.wp-block-accordion-panel-accordion-panel:is(
	.is-panel-open, .is-selected
)::before{
	animation-name: accordionBg-In-hrz;
}
.is-vertical .wp-block-accordion-panel-accordion-panel:not(.is-panel-open, .is-selected):hover::before,
.is-vertical .wp-block-accordion-panel-accordion-panel:is(
	.is-panel-open, .is-selected
)::before{
	animation-name: accordionBg-In-vrt;
}

@keyframes accordionBg-In-hrz {
	from{
		inset: 0% 0% 0% 100% ; 
	}
	to{
		inset: 0% 0% 0% 0% ; 
	}
}
@keyframes accordionBg-Out-hrz {
	from{
		inset: 0% 0% 0% 0% ; 
	}
	to{
		inset: 0% 100% 0% 0% ; 
	}
}

@keyframes accordionBg-In-vrt{
	from{
		inset: 100% 0% 0% 0% ; 
	}
	to{
		inset: 0% 0% 0% 0% ; 
	}
}
@keyframes accordionBg-Out-vrt {
	from{
		inset: 0% 0% 0% 0% ; 
	}
	to{
		inset: 0% 0% 100% 0% ; 
	}
}

// Panel Header

.wp-block-accordion-panel-accordion-panel .panel-header{
	text-decoration: none;
	overflow: hidden;
}
:not(.is-vertical)>.wp-block-accordion-panel-accordion-panel .panel-header{
	writing-mode: vertical-lr;
	text-orientation: mixed;
}

.wp-block-accordion-panel-accordion-panel .panel-header .panel-headings{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	animation-name: headingsOut-hrz;
	animation-duration: var(--transTime);
	animation-timing-function: var(--transEase);
	animation-fill-mode: forwards;
}
:not(.is-vertical) .wp-block-accordion-panel-accordion-panel .panel-header .panel-headings{
	transform:translateX(-100%);
}
.is-vertical .wp-block-accordion-panel-accordion-panel .panel-header .panel-headings{
	animation-name: headingsOut-vrt;
	transform:translateY(0%);
}

.wp-block-accordion-panel-accordion-panel:hover .panel-header .panel-headings,
.wp-block-accordion-panel-accordion-panel:is(
	.is-panel-open, .is-selected
) .panel-header .panel-headings{
	animation-name: headingsIn-hrz;
}
.is-vertical .wp-block-accordion-panel-accordion-panel:hover .panel-header .panel-headings,
.is-vertical .wp-block-accordion-panel-accordion-panel:is(
	.is-panel-open, .is-selected
) .panel-header .panel-headings{
	animation-name: headingsIn-vrt;
}

.wp-block-accordion-panel-accordion-panel .panel-header .panel-heading{
	grid-area: 1/1/1/1;
	position: relative;
}
.wp-block-accordion-panel-accordion-panel .panel-header .panel-heading{
	// color: #ffffff;
}
:not(.is-vertical)>.wp-block-accordion-panel-accordion-panel .panel-header .panel-heading-close:last-child{
	left:200%;
}
.is-vertical>.wp-block-accordion-panel-accordion-panel .panel-header .panel-heading-close:last-child{
	top:-200%;
}

:not(.is-vertical)>.wp-block-accordion-panel-accordion-panel .panel-header .panel-heading-open{
	left: 100%;
}
.is-vertical>.wp-block-accordion-panel-accordion-panel .panel-header .panel-heading-open{
	top: -100%;
}

@keyframes headingsIn-hrz {
	from{
		transform: translateX(0%);
	}
	to{
		transform: translateX(-100%);
	}
}
@keyframes headingsOut-hrz {
	from{
		transform: translateX(-100%);
	}
	to{
		transform: translateX(-200%);
	}
}
@keyframes headingsIn-vrt {
	from{
		transform: translateY(0%);
	}
	to{
		transform: translateY(-100%);
	}
}
@keyframes headingsOut-vrt {
	from{
		transform: translateY(100%);
	}
	to{
		transform: translateY(-200%);
	}
}


// Panel Content

.wp-block-accordion-panel-accordion-panel .panel-content{
	display: none;
	align-self: stretch;
	width: 0%;
}
.wp-block-accordion-panel-accordion-panel.is-panel-open .panel-content{
	display: block;
	width: 100%;
}

.wp-block-accordion-panel-accordion-panel *:has(.accordionRule){
	position: relative;
}
.wp-block-accordion-panel-accordion-panel .accordionRule{
	--ruleWidth:2px;
	position: absolute;
	background-color: #000000;
	display: block;
}

.wp-block-accordion-panel-accordion-panel .accordionRule:is(
	.accordionRule-left, .accordionRule-right
){
	top: 0px;
	height: 100%;
	width: var(--ruleWidth);
}
.accordionRule.accordionRule-left{
	left: 0px;
	transform: translate(-50%);
}
.wp-block-accordion-panel-accordion-panel:last-child .accordionRule-right{
	right: 0%;
	transform: translate(50%);
	// background-color: green;
}


