.wp-block-accordion-panel-accordion-panel{
	flex-grow: 0;
	display: flex;
}
.wp-block-accordion-panel-accordion-panel.is-panel-open{
	flex-grow: 1;
}

.wp-block-accordion-panel-accordion-panel .panel-content{
	display: none;
	align-self: stretch;
	width: 0%;
	background-color: red;
}
.wp-block-accordion-panel-accordion-panel.is-panel-open .panel-content{
	display: block;
	width: 100%;
}

